.scrolling-section {
  position: relative;
  z-index: 1;
}

.banner-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scrolling-banner {
  display: flex;
  width: fit-content;
  height: 100%;
  gap: 20px
}

.banner-item {
  width: 90vw;
  height: 100%;
  position: relative;
}

.banner-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Make sure the section containing the banner has enough height */
.spotlight-section {
  min-height: 100vh;
  position: relative;
}
