


.scrolling-banner {
  display: flex;
  gap: 20px; /* spacing between cards */
  overflow-x: hidden;
}

.banner-item {
  flex-shrink: 0;
  width: 90vw;  /* fixed card width */
  position: relative;
}

.banner-item img {
  width: 100%;
  height: 100%;
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}